# Método .drop()

# Sintaxis:

# df.drop(labels, axis = 0, inplace = False)
'''
Donde:
- df: Nombre del DataFrame que vamos a utilizar.
- labels: nombres de las columnas a eliminar, si es más de una lo hacemos como lista ['__', '__']
- axis: Especifica si queremos eliminar filas (0) o columnas (1)
- inplace (opcional): Indica si se va a realizar la eliminación sobre el DataFrame original (True), es decir, lo sobrescribe, ó si va a crear un DataFrame nuevo (False)
'''

In [ ]:
# Importamos las librerias y el archivo csv:
import pandas as pd
pd.set_option('display.max_columns', None)  # Para que aparezcan todas las columnas

path = 'C:/Users/Agus_Ana_María_Raúl/Agustin/DAM/MASTER/MÓDULO_7_PYTHON_FOR_DATA/2_PANDA/DatosPandasUniversidades.csv'
df_universidades = pd.read_csv(path, index_col = 2)  # Asignamos la tercera columna del csv como índice
df_universidades.head()

,sequence,rank,overall_score,academic_reputation,employer_reputation,faculty_student_ratio,citations_per_faculty,international_faculty_ratio,international_students_ratio,international_research_network,employment_outcomes,sustainability,Fundos (US$),country
university,,,,,,,,,,,,,,
Massachusetts Institute of Technology (MIT),0,1,100.0,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2,9.2,United States
University of Cambridge,1,2,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,7.8,United Kingdom
University of Oxford,2,3,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,6.7,United Kingdom
Harvard University,3,4,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,6.3,United States
Stanford University,4,5,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,6.2,United States

# Eliminar columna 'sequence'

In [ ]:
# La eliminamos del dataframe original:
df_universidades.drop('sequence', axis = 1, inplace = True)

In [ ]:
# Comprobamos el dataframe original:
df_universidades.head()

# Eliminar la fila 'Massachusetts Institute of Technology (MIT)'

In [ ]:
# No la eliminamos del dataframe original:
df_universidades.drop('Massachusetts Institute of Technology (MIT)', axis = 0, inplace = False)

In [ ]:
# Comprobamos que no la hemos eliminado del datafrme original:
df_universidades.head()

In [10]:
# Guardamos el dataframe sin la fila 'Massachusetts Institute of Technology (MIT)' en una variable:
df_universidades_sin_Massachusetts = df_universidades.drop('Massachusetts Institute of Technology (MIT)', axis = 0, inplace = False)

In [11]:
# Comprobamos la variable:
df_universidades_sin_Massachusetts.head()

,rank,overall_score,academic_reputation,employer_reputation,faculty_student_ratio,citations_per_faculty,international_faculty_ratio,international_students_ratio,international_research_network,employment_outcomes,sustainability,Fundos (US$),country
university,,,,,,,,,,,,,
University of Cambridge,2,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,7.8,United Kingdom
University of Oxford,3,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,6.7,United Kingdom
Harvard University,4,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,6.3,United States
Stanford University,5,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,6.2,United States
Imperial College London,6,97.8,98.3,99.4,98.5,94.0,100.0,100.0,96.7,83.0,94.4,6.1,United Kingdom